body {
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;   /* Horizontal center */
  align-items: center;       /* Vertical center */
  height: 100vh;             /* Full screen height */
  background-color: #f4f6f8;
}
.container{
  width: 400px;
  background:white;
  padding:25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h2{
  margin-bottom: 15px;
  color:#333;
}

.form-group{
  display:flex;
  gap:10px;
  margin-bottom:10px;
}
input{
  flex:1;
  padding:8px;
  border:1px solid#ccc;
  border-radius:4px;
}

button{
  padding:8px 14px;
  border:none;
  border-radius:4px;
  cursor:pointer;
}

.primary{
  background-color: #1976d2;
  color: white;
}

.secondary{
  background-color: #555;
  color:white;
}

.danger{
  background-color: #d32f2f;
  color:white;
}

.user-list{
  margin-top: 20px;
}

.user-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-bottom: 1px solid #eee;
}

.user-item:last-child{
  border-bottom: none;
}